h1{color: blue;}
#rtm{color: 
    #fb0404; font-size: 5cm;}
.yl{list-style-type: none;
    margin: 2;
    padding: 3;
display: flex;
justify-content: space-between;
background-color: aqua;}
#rtm{    font-family: 'Roboto';font-size: 68;
}
.ol{color: royalblue;
}
#rt{color: blue;
}
#ok{color: blueviolet;
}
#az{
    color: blueviolet; font-size: 1cm;
}
.gh{color: blue;
}
.nb{color: blue;
}
.sd{background-color: antiquewhite;
}
.om{
    display: flex;margin-left: 80cap;
}
